src/test/resources/test-mule-config.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:filescom="http://www.mulesoft.org/schema/mule/filescom"
  xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
                      http://www.mulesoft.org/schema/mule/filescom http://www.mulesoft.org/schema/mule/filescom/current/mule-filescom.xsd">

  <global-property name="FILES_MOCK_SERVER_HOST" value="localhost" />
  <global-property name="FILES_MOCK_SERVER_PORT" value="4041" />
  <global-property name="baseUrl" value="http://${FILES_MOCK_SERVER_HOST}:${FILES_MOCK_SERVER_PORT}" />
  <global-property name="mockServer" value="true" />
  <configuration-properties file="automation-credentials.properties" />

  <filescom:config name="FilesCom">
    <filescom:connection apiKey="${apiKey}" baseUrl="${baseUrl}" />
  </filescom:config>

  <flow name="ShareLinkFlow">
    <filescom:create-share-link config-ref="FilesCom" paths='#[[""]]' />
    <set-variable variableName="bundleId" value="#[payload.id]" />

    <filescom:show-share-link config-ref="FilesCom" id="#[vars.bundleId]" />
    <filescom:update-share-link config-ref="FilesCom" id="#[vars.bundleId]" />
    <filescom:list-share-links config-ref="FilesCom" />

    <filescom:list-share-link-notifications config-ref="FilesCom" />
    <filescom:list-share-link-downloads config-ref="FilesCom" bundleId="#[vars.bundleId]" />
    <filescom:list-share-link-recipients config-ref="FilesCom" bundleId="#[vars.bundleId]" />
    <filescom:list-share-link-registrations config-ref="FilesCom" bundleId="#[vars.bundleId]" />

    <filescom:delete-share-link config-ref="FilesCom" id="#[vars.bundleId]" />
  </flow>

  <flow name="FileFlow">
    <choice>
      <when expression="#['${mockServer}' == 'false']">
        <filescom:upload-file config-ref="FilesCom" path="file-path">
          <filescom:content><![CDATA[yo]]></filescom:content>
        </filescom:upload-file>
      </when>
    </choice>
    <filescom:show-file config-ref="FilesCom" path="file-path" />
    <filescom:download-file config-ref="FilesCom" path="file-path" />
    <filescom:delete-file config-ref="FilesCom" path="file-path" />
  </flow>

  <flow name="FolderFlow">
    <filescom:create-folder config-ref="FilesCom" path="folder-path" />
    <filescom:show-folder config-ref="FilesCom" path="folder-path" />
    <filescom:list-folders config-ref="FilesCom" path="folder-path" />
    <filescom:delete-folder config-ref="FilesCom" path="folder-path" />
  </flow>

  <flow name="GroupFlow">
    <filescom:create-group config-ref="FilesCom" name="name" />
    <set-variable variableName="groupId" value="#[payload.id]" />

    <filescom:show-group config-ref="FilesCom" id="#[vars.groupId]" />
    <filescom:update-group config-ref="FilesCom" id="#[vars.groupId]" notes="example" />

    <filescom:list-groups config-ref="FilesCom" />
    <filescom:delete-group config-ref="FilesCom" id="#[vars.groupId]" />
  </flow>

  <flow name="UserFlow">
    <filescom:create-user config-ref="FilesCom"
      username="john.doe"
      authenticationMethod="password"
      name="John Doe"
      company="ACME Corp."
      notes="Internal notes on this user."
    />
    <set-variable variableName="userId" value="#[payload.id]" />

    <filescom:show-user config-ref="FilesCom" id="#[vars.userId]" />
    <filescom:update-user config-ref="FilesCom" id="#[vars.userId]"
      notes="Updated internal notes on this user."
    />

    <filescom:list-users config-ref="FilesCom" />
    <filescom:delete-user config-ref="FilesCom" id="#[vars.userId]" />
  </flow>
</mule>
